.picker-section {
    margin: 0 auto;
}

.picker__file-input {
    margin: 1rem auto;
    display: flex;
    justify-content: center;
}
.picker__file-input:hover {
    cursor: pointer;
}
input[type="file"] {
    display: none;
}

#image {
    display: none;
}

#pickerContainer {
    margin: 0 auto;
    position: relative;
    display: flex;
    justify-content: center;
    width: 90vw;
}

#canvasSection {
    max-width: 830px;
    display: flex;
    flex-wrap: wrap;
    gap: 3px;
}

#myCanvas {
    border-radius: 10px;
    border: 1px solid var(--teal-black);
}
#canvasImage {
    object-fit: cover;
}

#colors {
    margin: 0;
    padding: 0;
    display: flex;
    max-width: 830px;
    gap: 3px;
}
.draggable {
    cursor: move;
}
.dragging {
    opacity: .8;
}
.placeholder {
    background-color: #edf2f7;
    border: 2px dashed var(--teal-dark);
}

.color-box {
    margin: 0;
    padding: 0;
    width: 130px;
    height: 130px;
    flex: 1 1 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    font-size: 0.5rem;
    cursor: move;
    /* background-color: attr('data-color'); */
}
.over {
    border: 3px dotted var(--teal-grey);
}
.close-button {
    padding: 5px 10px;
    display: none;
    justify-self: end;
    align-self: flex-end;
    border: none;
    border-radius: 5px;
    background-color: transparent;
    text-align: center;
    justify-content: center;
    color: var(--yellow-white);
    font-size: 1rem;
    text-shadow: 1px 1px 1px var(--teal-black);
}
.close-button:hover {
    cursor: pointer;
    font-size: 1.2rem;
}

.info {
    display: none;
    padding: 5px;
    justify-self: start;
    align-self: flex-start;
    color: var(--yellow-white);
    font-size: 0.9rem;
    text-shadow: 1px 1px 1px var(--teal-black);
}
.info:hover {
    cursor: pointer;
    font-size: 1rem;
}

.aside {
    padding: 5px 10px;
    min-width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    gap: 0.2rem;
}
.instructions {
    width: 90%;
    max-width: 200px;
    margin: 0 auto;
    font-style: italic;
}
.preview-box {
    margin: 0 auto;
    padding: 2px;
    width: 150px;
    height: 150px;
    border-radius: 10px;
    font-size: 0.5rem;
}
.buttons {
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    font:inherit;
}