.picker-page {
    margin: 0 auto;
    padding: 0.5rem;
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    justify-content: space-around;
    max-width: 1000px;
}

.picker__navbar {
    width: 100%;
    padding: 0.3rem 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    gap: 1rem;
    background-color: var(--vermilion-white);
    border-radius: 4px;
}
.picker__navbar a {
    padding: 0.5rem;
    cursor: pointer;
    border: none;
}
.picker__navbar a:hover {
    font-weight: 400;
    opacity: 0.6;
}

#image {
    display: none;
}

.picker__container {
    margin: 1rem auto 0.5rem;
    max-width: 1000px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.5rem;
}

.picker__canvas-section {
    max-width: 780px;
    /* height: 470px; */
    display: flex;
    /* flex-wrap: wrap; */
    gap: 3px;
    
}
.picker__image-canvas {
    border: 1px solid var(--teal-black);
    border-radius: 10px;
}
/* #canvasImage {
    object-fit: cover;
} */

.picker__colors {
    margin: 0;
    padding: 0;
    display: flex;
    max-width: 780px;
    gap: 3px;
}
.draggable {
    cursor: move;
}
.dragging {
    opacity: .8;
}
.placeholder {
    background-color: #edf2f7;
    border: 2px dashed var(--teal-dark);
}

.color-box {
    margin: 0;
    padding: 0;
    width: 130px;
    height: 130px;
    flex: 1 1 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    font-size: 0.5rem;
    cursor: move;
    /* background-color: attr('data-color'); */
}
.over {
    border: 3px dotted var(--teal-grey);
}
.close-button {
    padding: 5px 10px;
    display: none;
    justify-self: end;
    align-self: flex-end;
    border: none;
    border-radius: 5px;
    background-color: transparent;
    text-align: center;
    justify-content: center;
    color: var(--yellow-white);
    font-size: 1rem;
    text-shadow: 1px 1px 1px var(--teal-black);
}
.close-button:hover {
    cursor: pointer;
    font-size: 1.2rem;
}

.info {
    display: none;
    padding: 5px;
    justify-self: start;
    align-self: flex-start;
    color: var(--yellow-white);
    font-size: 0.9rem;
    text-shadow: 1px 1px 1px var(--teal-black);
}
.info:hover {
    cursor: pointer;
    font-size: 1rem;
}


/*    ---- aside ----    */
.picker-aside {
    width: 180px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    gap: 1rem;
}

.picker__file-input label {
    width: 150px;
    /* margin-top: 1rem; */
    display: flex;
    justify-content: center;
}
.picker__file-input:hover {
    cursor: pointer;
}
input[type="file"] {
    display: none;
}

hr {
    width: 100%;
    line-height: 1px;
    color: var(--teal-grey);
}

.picker__instructions {
    width: 100%;
    padding-top: 1rem;
    font-style: italic;
    font-size: 0.9rem;
    border-top: 1px solid var(--teal-grey);
}
.picker__preview-box {
    /* margin: 0 auto; */
    padding: 2px;
    width: 150px;
    height: 150px;
    border-radius: 10px;
    font-size: 0.5rem;
}
.picker__buttons {
    margin: 0;
    padding-top: 1rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    border-top: 1px solid var(--teal-grey);
}
.picker__buttons button {
    padding: 0.5rem;
    width: 150px;
}


@media (max-width: 830px) {
    .picker__container {
        flex-direction: column;
        align-items: center;
    }
}


/*     -------------------   color card ----------------   */

/*********** Upload section *******************************************/

.swatches__container {
    margin: 0 auto;
    padding: 0;
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#uploadSection {
    /* width: 100%; */
    margin: 1rem 0;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}

#fileInput {
    display: none;
}

#img {
    display: none;
    max-width: 150px;
    max-height: 100px;
}

/********* range ***********/

#pixelRangeSection {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

#pixelRangeSlider {
    margin: 0 1rem;
    height: 10px;
    border-radius: 5px;
    background: var(--vermilion-white);
    -webkit-transition: .2s;
    transition: opacity .2s;
}

#pixelRangeSlider:hover {
    opacity: 0.7;
}

#pixelRangeSlider::-webkit-slider-thumb {
    width: 20px;
    height: 20px;
    background: var(--teal-grey);
    cursor: pointer;
}

#pixelRangeSlider::-moz-range-thumb {
    width: 20px;
    height: 20px;
    background: var(--teal-grey);
    cursor: pointer;
}

/******* result section **********************************************/

#resultSection {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#asideSection {
    display: none;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.asideSpan {
    font-size: 0.8rem;
    text-align: center;
}

#pixelColor {
    width: 100px;
    height: 100px;
    background-color: var(--vermilion-white);
    border-radius: 4px;
}

#exportButton {
    margin: 0;
    padding: 0.6rem 0.5rem;
    width: 100px;
    border-radius: 0.4rem;
    text-decoration: none;
    color: var(--vermilion-white);
    background: var(--teal-grey);
    border: none;
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
    transition-duration: 0.5s;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#exportButton:hover {
    background: var(--vermilion-white);
    color: var(--teal-grey);
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

/*********** cardSection **********************************/

#cardSection {
    display: none;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}
.swatches__h1 {
    margin: 0.5rem 0 0 0;
    padding: 0 0.5rem;
    font-size: 1.2rem;
}
.swatches__h2 {
    margin: 0 0 0.5rem 0;
    padding: 0 0.5rem;
    font-weight: 300;
}

#colors {
    margin: 0;
    padding: 0;
}

.colorLi {
    list-style-type: none;
    height: 44px;
    border-radius: 8px 8px 0 0;
    display: flex;
    justify-content: end;
    align-items: start;
}
.close-button {
    padding: 0.1rem 0.8rem;
    display: none;
    border: none;
    background-color: transparent;
    text-align: center;
    justify-content: center;
    color: var(--teal-grey);
    font-size: 1.2rem;
    text-shadow: 1px 1px 1px var(--vermilion-white);
    cursor: pointer;
}

.textLi {
    margin-bottom: 0.5rem;
    list-style-type: none;
    padding: 0.1rem 0.5rem;
    font-size: 0.9rem;
    border-radius: 0 0 8px 8px;
    border-bottom: 1px solid var(--teal-grey);
}


@media (max-width: 480px) {
    #colors {
        width: 90%;
    }
    .textLi {
        font-size: 0.9rem;
    }
}