.ryb {
    margin: 0 auto;
    max-width: 900px;
}

.ryb__header {
    margin: 0 auto;
    padding: 1rem;
    width: 100%;
    text-align: center;
}

.ryb p {
    margin: 0.5rem;
}

.diffHeading {
    padding: 0.5rem;
    font-weight: 100;
    font-style: italic;
    font-size: 1.7rem;
    letter-spacing: 0.2rem;
    text-shadow: 2px 2px 2px var(--vermilion);
}

.strong:hover {
    font-style: italic;
    cursor: default;
}

.ryb__actions {
    margin: 1rem 0;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}

.ryb__actions--wheel {
    width: 49%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.white-layer {
    display: none;
    position: absolute;
    top: 2rem;
    width: 300px;
    height: 303px;
    z-index: 1;
    background-color: rgba(255, 255, 255, 0);
}

#primaryImage,
#secondaryImage,
#tertiaryImage {
    display: none;
    position: absolute;
    top: 2rem;
    width: 305px;
    height: 305px;
}

#complementary,
#splitComplementary,
#monochromatic,
#analogous,
#triadic,
#tetradic,
#square {
    display: none;
    position: absolute;
    top: 5rem;
    /* width: 305px; */
    height: 210px;
}

.ryb__actions--wheel h6 {
    padding: 0.5rem;
}

.ryb__actions--wheel span {
    padding: 0.5rem;
    font-size: 0.8rem;
    font-style: italic;
}

#rybCanvas {
    position: relative;
    cursor: pointer;
    animation: animatedRotation 2s;
}
@keyframes animatedRotation {
    100% {transform: rotate(360deg);}
}

#rybImage {
    z-index: 1;
}

.ryb__actions--settings {
    width: 49%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.ryb__actions--settings p {
    padding: 0 0.5rem;
    font-size: 0.8rem;
}

.ryb__actions--settings h6 {
    padding: 0.5rem;
}

.ryb__actions--settings-sliders {
    width: 100%;
    display: flex;
    flex-direction: column;

}

.ryb__actions--settings-sliders div {
    padding: 0 0.5rem 0.5rem 0.5rem;
    font-size: 0.8rem;
    font-style: italic;
}

.ryb__actions--settings-sliders button {
    width: fit-content;
    margin-top: 1rem;
}