.ryb-page {
    margin: 0 auto;
    padding: 0.8rem;
    max-width: 1000px;
}

.strong:hover {
    font-style: italic;
    cursor: default;
}

/* ----- actions ----- */
.ryb__actions {
    margin: 1rem 0;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    align-items: stretch;
}

/* ----- canvas, wheel, layers ----- */
.ryb__actions--wheel {
    width: 38%;
    padding-top: 0.4rem;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 0.5rem;
    align-items: center;
    position: relative;
}
#primaryImage,
#secondaryImage,
#tertiaryImage {
    display: none;
    position: absolute;
    top: 3rem;
    width: 305px;
    height: 305px;
}
.ryb__actions--wheel h6 {
    padding: 0.5rem;
}
.ryb__actions--wheel span {
    padding: 0.5rem;
    /* font-size: 0.8rem; */
    font-style: italic;
}
.reset {
    padding: 0;
    font-size: 0.9rem;
    color: var(--teal-light);
    cursor: pointer;
}
.reset:hover {
    font-style: italic;
}

#rybCanvas {
    position: relative;
    cursor: pointer;
    animation: animatedRotation 2s;
}
@keyframes animatedRotation {
    100% {
        transform: rotate(360deg);
    }
}

#rybImage {
    z-index: 1;
}

/* ----- scheme ----- */
.ryb__actions--scheme {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5rem;
}
#schemeCanvas {
    position: absolute;
    top: 118px;
    left: 105px;
    z-index: 1000;
}
section.ryb__actions--scheme section.select-container {
    justify-content: center;
}
.ryb__actions--scheme-p {
    margin: 0;
    width: 80%;
    text-align: center;
    font-style: italic;
    color: var(--teal-light);
    font-size: 0.8rem;
}
/* ----- result ----- */
.ryb__actions--result {
    width: 100;
    padding-bottom: 0.5rem;
    display: none;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid var(--teal-grey);

}
.ryb__actions--result-colors {
    position: relative;
}
.ryb__actions--result-ul {
    margin: 0;
    padding: 0.5rem;
    width: fit-content;
    height: 130px;
    display: flex;
    justify-content: center;
    gap: 0.5rem;
}
.ryb__actions--result-li {
    margin: 0;
    padding: 0;
    width: 112px;
    height: 112px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    font-size: 0.5rem;
    border-radius: 5px;
}

.ryb__actions--result-li-link {
    display: none;
    padding: 5px;
    justify-self: flex-end;
    color: var(--vermilion-white);
    font-size: 0.7rem;
    text-shadow: 1px 1px 1px var(--teal-black);
}
.ryb__actions--result-li-link:hover {
    cursor: pointer;
    font-weight: 500;
}

.ryb__actions--result-info {
    margin: 0;
    /* padding: 0.5rem; */
    width: 90%;
    text-align: center;
    font-size: 0.9rem;
    font-style: italic;
}
.ryb__actions--result button {
    width: fit-content;
}

#whiteLayer {
    display: none;
    position: absolute;
    top: 0rem;
    width: 100%;
    height: 124px;
    z-index: 1;
    background-color: rgba(255, 255, 255, 0);
}