.details {
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-direction: row;
    height: 100vh;
    max-width: 1000px;
}

.details__image {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 65vw;
    height: 100vh;
}

.details__image--file {
    padding: 0.5rem;
    object-fit: cover;
    max-width: 65vw;
    max-height: 95vh;
}

.details__info {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    width: 35vw;
    justify-content: center;
}
.details__info--back {
    margin: 1rem;
    align-self: center;
    width: 20px;
    height: 20px;
    rotate: 135deg;
    opacity: 44%;
    border: 3px solid var(--teal-grey);
    border-width: 0 5px 5px 0;
    border-radius: 3px;
    cursor: pointer;
    animation: rotationArrow 1s;
}
.details__info--back:hover {
    opacity: 1;
    animation: rotate;
}

.details__info--title {
    margin: 2rem 0 0 0;
    padding-top: 1rem;
    font-size: 1.5rem;
    border-top: 1px solid var(--teal);
}

.details__info--category {
    margin: 1rem 0 0.2rem 0;
}

.details__info--colors {
    margin: 1rem 0 0 0;
}

.details__info--buttons {
    margin: 1rem 0 0 0;
    padding: 1.5rem 0;
    border-top: 1px solid var(--teal);
}

.details__info--buttons-edit {
    margin: 0 1rem 1rem 0;
}

.details__info--buttons-delete {
    margin: 0;
}

/*    ---- likes ----    */
.details__info--like {
    margin-top: 2rem;
    display: flex;
    align-items: center;
    /* gap: 0.3rem; */
}
.heart {
    /* background-color: var(--vermilion-light); */
    background-color: rgb(254, 97, 81);
    display: inline-block;
    height: 12px;
    margin: 0 10px;
    position: relative;
    top: 0;
    transform: rotate(-45deg);
    width: 12px;
}
.heart:before,
.heart:after {
    content: "";
    /* background-color: var(--vermilion-light); */
    background-color: rgb(254, 97, 81);
    border-radius: 50%;
    height: 12px;
    position: absolute;
    width: 12px;
}
.heart:before {
    top: -7px;
    left: 0;
}
.heart:after {
    left: 7px;
    top: 0;
}





@media (max-width: 768px) {
    .details {
        flex-direction: column;
        align-items: start;
    }

    .details__image {
        margin: 3rem 0 0 0;
        padding: 0;
        max-width: 100%;
        height: auto;
    }

    .details__image--file {
        padding: 1rem 1rem 0 1rem;
        max-width: 96vw;
    }

    .details__info {
        padding-top: 0;
        width: 100%;
        text-align: center;
    }

    .details__info--title {
        margin: 0;
        font-size: 1.1rem;
    }

    .details__info--buttons {
        padding: 0;
    }

    .details__info--buttons-delete {
        margin: 1rem 0 0 0;
    }
}

@media (max-width: 480px) {
    .details__image--file {
        max-width: 100vw;
    }

    .details__info--back {
        margin: 0.5rem;
        position: fixed;
        bottom: 1rem;
        left: 1rem;
    }
}