.explore-page {
    margin: 0 auto;
    padding: 0.5rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: space-around;
    max-width: 1000px;
}

.explore__info {
    margin: 0;
    padding: 0.4rem;
    width: 100%;
    font-style: italic;
    font-weight: 600;
    font-size: 1.2rem;
    border-bottom: 1px solid var(--teal-grey);
}

.explore__rgb {
    display: flex;
    flex-wrap: wrap;
    width:270px;
    gap: 0.5rem;
    align-items: flex-start;
    justify-content: flex-start;
}

#rgbCanvas, #whiteCanvas,
#blackCanvas, #greyCanvas {
    border-radius: 5px;
    cursor: crosshair;
}
.explore__rgb div {
    font-size: 0.8rem;
}
/* ----- input ----- */
.explore__input {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 0.5rem;
    align-items: flex-start;
    justify-content: flex-start;
}

.explore__input--info {
    margin: 0;
    padding: 0.2rem;
    font-size: 0.9rem;
}
.explore__pick-color {
    width: 100%;
    gap: 0.5rem;
    display: flex;
    flex-direction: column;
}
.explore__input--input {
    padding: 0.6rem 1rem;
    width: 75%;
}

.explore__input--submit {
    margin-left: 0.5rem;
    width: fit-content;
}

/* ----- preview ----- */
.explore__preview {
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 100%;
    align-items: stretch;
    gap: 0.5rem;
}

#previewWitheText,
#previewBlackText,
#previewTextOnWithe,
#previewTextOnBlack {
    width: 100%;
    height: 112px;
    padding-top: 3rem;
    border-radius: 5px;
    color: var(--teal-light);
    text-align: center;
    background-color: var(--teal-light);
}
#previewWitheText {
    color: white;
}
#previewBlackText {
    color: black;
}
#previewTextOnWithe {
    border: 2px solid var(--teal-light);
    background-color: white;
}
#previewTextOnBlack {
    background-color: black;
}

/* ----- values ----- */
.explore__values {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 260px;
    align-items: flex-start;
    justify-content: flex-start;
}

.explore__values li {
    padding: 0.5rem;
    width: 100%;
    border: 1px solid var(--teal-extra-light);
    border-radius: 5px;
}

.explore__values span {
    width: 100%;
    font-size: 0.8rem;
}

/* ----- hueResult ----- */
/* .explore__chart {
    display: flex;
    flex-direction: column;
    width: 30%;
    gap: 0.1rem;
}
.explore__chart li {
    width: 100%;
} */

@media (max-width: 768px) {
    .explore__preview {
        width: 270px;
    }
}
@media screen and (max-width: 480px) {
    
}