.toggleLanguage {
    margin: 0 1rem;
    padding: 0.2rem 0.1rem 0.3rem;
    position: relative;
    cursor: pointer;
    background-color: var(--teal-grey);
    border-radius: 44px;
    transition: 0.4s;
}
.toggleLanguage:hover {
    opacity: 0.6;
}
#activeEn {
    padding: 0 0.3rem 0 0;
}
#activeBg {
    padding: 0 0 0 0.3rem;
}
.activeLanguage {
    padding: 0.1rem 0.5rem 0.2rem;
    background-color: white;
    border-radius: 44px;
}
.notActiveBg {
    padding: 0 0 0 0.2rem;
    color: var(--vermilion-white);
}
.notActiveEn {
    padding: 0 0.2rem 0 0;
    color: var(--vermilion-white);
}

.home__language {
    margin: 0;
    padding: 0.2rem 0.1rem 0.3rem;
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    opacity: 0.6;
    cursor: pointer;
    border-radius: 44px;
    transition: 0.4s;
    z-index: 1001;
}
.home__language:hover {
    opacity: 1;
}
