#toggleLanguage {
    margin: 0 1rem;
    padding: 0.2rem 0.1rem 0.3rem;
    position: relative;
    cursor: pointer;
    background-color: var(--teal-grey);
    border-radius: 44px;
    transition: 0.4s;
}
#toggleLanguage:hover {
    opacity: 0.6;
}
#activeEn {
    display: inline-block;
    padding: 0 0.3rem 0 0;
}
#activeBg {
    display: none;
    padding: 0 0 0 0.3rem;
}
.activeLanguage {
    padding: 0.1rem 0.5rem 0.2rem;
    background-color: white;
    border-radius: 44px;
}
.notActiveLanguage {
    padding: 0 0 0 0.2rem;
    color: var(--vermilion-white);
}