.notification {
    display: none;
    padding: 1rem;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: var(--teal-grey);
    font-style: italic;
    text-decoration: underline;
    border-radius: 0.5rem;
    box-shadow: 0 5px 10px rgb(204, 204, 204);
    z-index: 1005;
}

.infoBox {
    background: var(--vermilion-white);
}

.errorBox {
    background: var(--vermilion-extra-light);
}

.loadingBox {
    display: none;
    position: fixed;
    top: 70%;
    left: calc((100% - 44px) / 2);
    width: 44px;
    height: 44px;
    border-radius: 50%;
    opacity: 60%;
    /* background: linear-gradient(to right, red 0%, #FF8000, yellow, #80FF00, #00FF00, #00FF80, cyan, #0080FF, blue, #8000FF, magenta, #FF0080 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent; */
    animation: spinner 1.5s linear infinite;
}

@keyframes spinner {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}

@media (min-width: 1360px) {
    .loadingBox {
        left: calc(21% + (79% - 44px) / 2);
    }
    .notification {
        transform: translate(-50%, -50%) translateX(calc((79% - 100%) / 2 + 21%));
    }
}