.ryb__actions--settings {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    align-items: center;
}
.ryb__actions--settings p {
    margin: 0 auto;
    padding: 0.5rem;
    width: 100%;
    text-align: center;
    font-size: 0.9rem;
}
.ryb__actions--settings-sliders div {
    padding: 0.5rem;
    font-size: 0.8rem;
    font-style: italic;
}
.ryb__actions--settings-sliders button {
    width: fit-content;
    margin-top: 1rem;
}
