.select-container {
    margin: 0;
    padding: 0.5rem;
    width: auto;
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: flex-start;
}

select {
    padding: 0.4rem;
    color: inherit;
    background-color: white;
    border: 1px solid var(--teal-grey);
    border-radius: 4px;
}

select:hover {
    cursor: pointer;
    /* background-color: var(--vermilion-white); */
}

.select-container__label {
    font-weight: 600;
}

.default-scheme {
    color: gainsboro;
}

