.button {
    margin: 0;
    display: inline-block;
    padding: 0.6rem 1rem;
    border-radius: 0.4rem;
    text-decoration: none;
    /* background-image: linear-gradient(to right, var(--teal-grey) 0%, var(--vermilion-grey-white) 51%, var(--teal-grey) 100%); */
    background: var(--teal-grey);
    color: var(--vermilion-white);
    border: none;
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
    transition-duration: 0.5s;
    background-size: 200% auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.button:hover {
    background-position: right center;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    background: var(--vermilion-white);
    color: var(--teal-grey);
    text-decoration: none;
}