/******* color picker *******/

h1 {
    margin: 10 auto;
    padding: 0;
    text-align: center;
}

h6 {
    margin: 0 auto;
    padding: 0;
    text-align: center;
    font-size: 1rem;
}

.file-input {
    margin: 20px auto;
}
.file-input:hover {
    cursor: pointer;
}
input[type="file"] {
    display: none;
}

#image {
    display: none;
}

#pickerContainer {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    width: 90vw;
}

#canvasSection {
    max-width: 800px;
    display: flex;
    flex-wrap: wrap;
    /* flex-direction: row; */
    gap: 3px;
}

#myCanvas {
    border-radius: 10px;
    border: 1px solid rgb(0, 0, 0);
}

#colors {
    margin: 0;
    padding: 0;
    display: flex;
    max-width: 800px;
    gap: 3px;
}
.draggable {
    cursor: move;
}
.dragging {
    opacity: .8;
}
.placeholder {
    background-color: #edf2f7;
    border: 2px dashed #cbd5e0;
}

.color-box {
    margin: 0;
    padding: 0;
    width: 100px;
    height: 100px;
    flex: 1 1 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    font-size: 0.5rem;
    cursor: move;
    /* background-color: attr('data-color'); */
}
.over {
    border: 3px dotted #666;
}
.close-button {
    padding: 5px;
    width: 20px;
    height: 20px;
    display: none;
    justify-self: end;
    align-self: flex-end;
    border: none;
    border-radius: 5px;
    background-color: transparent;
    text-align: center;
    justify-content: center;
    color: rgb(0, 0, 0);
    font-size: 0.8rem;
    font-weight: bold;
    font-family: 'Syncopate';
    text-shadow: 1px 1px 1px rgb(255, 255, 255);
}
.close-button:hover {
    cursor: pointer;
    font-size: 1rem;
}

.info {
    display: none;
    padding: 5px;
    justify-self: start;
    align-self: flex-start;
    color: rgb(0, 0, 0);
    font-size: 1rem;
    font-weight: bold;
    font-style: italic;
    text-shadow: 1px 1px 1px rgb(255, 255, 255);
}
.info:hover {
    cursor: pointer;
    font-size: 1.2rem;
}

.aside {
    padding: 5px 10px;
    min-width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    gap: 0.5rem;
}
.instructions {
    width: 90%;
    max-width: 200px;
    margin: 0 auto;
    font-style: italic;
}
.preview-box {
    margin: 0 auto;
    padding: 2px;
    width: 150px;
    height: 150px;
    border-radius: 10px;
    font-size: 0.5rem;
}
.buttons {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}
.save-color-palette {
    width: 200px;
    font-size: 0.8rem;
}