.upload-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-content: center;
    align-items: center;
}
.upload-file-input {
    width:87%;
    height: max-content;
}
.input .link {
    width: 80%;
    height: max-content;
    border-radius: 5px;
}
#imagePreview {
    grid-column: 2;
    grid-row: 1 / span 2;
    max-height: 100px;
    display: grid;
    justify-content: center;
}
.image-preview {
    max-height: 120px;
    position: relative;
}
.field .input {
    border-radius: 5px;
}

#title {
    border-radius: 5px;
}

.select > option {
    font-style:inherit;
}

.checkbox {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: left;
    justify-content: left;
}

.checkbox label {
    font-weight:300;
}

.checkbox input {
    width: 60%;
}

.checkbox input:active {
    background-color: blueviolet;
}

.button {
    margin-top: 1rem;
}


